.button {
	display: inline-block;
	-webkit-appearance: none;
	color: #fff;
	border-radius: 24px;
	font-size: 14px;
	border: 1px solid transparent;
	cursor: pointer;
  /** States */
  /** Mods bool*/
  /** Mods */
  /** Elements */;
}

.button:focus {
	outline: none;
}

.button:hover {
	opacity: .9;
}

.button:active {
	opacity: .75;
}

.button:focus {
	outline: #A6C8FF auto 2px;
}

.button[disabled] {
	opacity: .5;
}

.button_full-width {
	display: block;
	flex: 1 1 auto;
	width: 100%;
	width: fill-available;
}

.button_size_s {
	padding: 2px 4px;
}

.button_size_m {
	padding: 4px 8px;
}

.button_size_l {
	padding: 8px 16px;
}

.button_size_xl {
	padding: 12px 20px;
}

.button_size_xxl {
	padding: 16px 24px;
}

.button_theme_primary {
	background-color: red;
}

.button_theme_ghost-orange {
	background-color: #fff;
	border-color: red;
	color: red;
}

.button_theme_ghost-gray {
	background-color: #fff;
	border-color: #ccc;
	color: #ccc;
}

.button__icon_with-text {
	margin: 0 4px 0 0;
}