@import '../global/variables.scss';
@import '../global/mixins.scss';

.counter {
    &__input {
        width: 24px;
        margin: 0 4px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid gray;
        border-left: none;
        background: none;

        -webkit-appearance: none;

        @include focus {
            border-bottom-color: $mainColor;
        }

        @include hover {
            color: #000000;
        }
    }

    &__button {
        width: 24px;
        height: 24px;
        font-size: 16px;
        cursor: pointer;
        color: #5d5d64;
        border: none;
        border-radius: 4px;
        background: none;
        user-select: none;
        -webkit-appearance: none;
        // font-weight: 600;

        @include focus {
            color: #000000;
            // box-shadow: 0 0 1px 1px rgba(34, 117, 165, 0.5);
        }

        @include hover {
            color: #000000;
        }

        @include active {
            color: $mainColor;
        }

        &[disabled] {
            cursor: default;
            color: #dfdfe1;
        }
    }
}
